body {
    background-color: black;
    max-width: 500px;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    color: #3d087e;
    font-size: 40px;
    text-align: center;
}

input {
    height: 35px;
    border: 2px solid #380f6b;
    background-color: #333;
    color: #eee;
    outline: none;
    width: 79%;
}

button {
    border: none;
    height: 42px;
    background-color: #460e8b;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    width: 90px;
}

button:hover {
    background-color: #8d0fa3;
}

button:active {
    background-color: #dd1fff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #4a148c;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

span {
    cursor: pointer;
}